<nav class="show-for-small-only full reveal primary-background-colour" id="overlayNavigation" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="grid-x grid-padding-x grid-padding-y align-center-middle" style="height: 100%">
    <div class="shrink cell text-center">

    <ul class="vertical menu align-center">
      <li><a href="/" class="text-uppercase sans-bold h4">Home</a></li>
      {% nav category in craft.categories.group('typeOfFilm') %}
          <li>
           <a href="{{ category.url }}" class="text-uppercase sans-bold h4" data-close>{{ category.title }}</a>
          </li>
      {% endnav %}
      <li><a href="/about" class="text-uppercase sans-bold h4" data-close>About</a></li>
      <li><a href="/contact" class="text-uppercase sans-bold h4" data-close>Contact</a></li>
    </ul>

    <div class="shrink cell text-center">
     <ul class="menu align-center">
        {% for block in site.socials.all() %}
        {% switch block.type %}
          {% case "facebook" %}
        
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        
          {% case "instagram" %}
          
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        
          {% case "twitter" %}
          
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
          {% endswitch %}
        {% endfor %}
      </ul>
    </div>

    </div>
  </div>
</nav>