{% for matrixBlock in entry.layout.all() %}
{% switch matrixBlock.type %}

    {% case "copy" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 {% if matrixBlock.background %}{{ matrixBlock.background.value }}-background-color{% endif %}">
      <div class="small-12 cell">

        <div class="grid-container">
            <div class="grid-x">
              <div class="small-12 cell">
        
                {{ matrixBlock.copy | markdown }}
                {% if matrixBlock.page %}
                  {% for link in matrixBlock.page %}
                    <a href="{{ link.url }}">More</a>
                  {% endfor %}
                {% endif %}
        
              </div>
            </div>
        </div>

      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 {% if matrixBlock.background %}{{ matrixBlock.background.value }}-background-color{% endif %}">
      <div class="small-12 cell">
  
      <div class="grid-container">
        <div class="grid-x align-{{ matrixBlock.position }}">
          <div class="small-12 medium-8 cell text-{{ matrixBlock.position }}">
            {{ matrixBlock.copy | markdown }}
            {% if matrixBlock.page %}
              {% for link in matrixBlock.page.all() %}
                <a href="{{ link.url }}">More +</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    </div>
    {% endif %}   
    
    {% case "image" %}
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
      <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" 
        {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'default' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'square' %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'panorama' %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'landscape' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% else %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% endif %}>
      </div>
       {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% else %}medium-10{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
      <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" 
        {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'default' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'square' %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'panorama' %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"
        {% else %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% endif %}>
      </div>
      {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    {% endif %}
    
    {% case "images" %}
    <div class="grid-x grid-padding-x grid-padding-y">
      {% for image in matrixBlock.images.all() %}
       {% if image.aspectRatio == "landscape" %}
       <div class="small-12 medium-12 cell">
        <div class="image--16-9" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"></div>
       </div>
       {% elseif image.aspectRatio == "portrait" %}
       <div class="small-12 medium-6 cell">
        <div class="image--5-7" data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"></div>
       </div>
       {% else  %}
       <div class="small-12 medium-12 cell">
        <div class="image--16-9" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"></div>
       </div>
       {% endif %}
      {% endfor %}
    </div>

{#
    {% if matrixBlock.position == 'left' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"{% endif %}></div>
            {% if image.caption %}<div class="caption">{{image.caption}}</div>{% endif %}
          </div>
        </div>
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-8 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"{% endif %}></div>
            {% if image.caption %}<div class="caption">{{image.caption}}</div>{% endif %}
          </div>
        </div>   
        
      </div>
    </div>
    {% elseif matrixBlock.position == 'center' %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">

      <div class="small-12 medium-6 cell align-self-middle">
        
        <div class="grid-x align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"{% endif %}></div>
            {% if image.caption %}<div class="caption">{{image.caption}}</div>{% endif %}
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-6 cell align-self-middle">
        
        <div class="grid-x align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"{% endif %}></div>
            {% if image.caption %}<div class="caption">{{image.caption}}</div>{% endif %}
          </div>
        </div>   
        
      </div>

    </div>
    {% elseif matrixBlock.position == 'right' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-8 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"{% endif %}></div>
            {% if image.caption %}<div class="caption">{{image.caption}}</div>{% endif %}
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"{% endif %}></div>
            {% if image.caption %}<div class="caption">{{image.caption}}</div>{% endif %}
          </div>
        </div>   
        
      </div>
    </div>
    {% endif %}
#}
  
    
    {% case "video" %}
    <div class="grid-x grid-padding-y align-center" data-aos="fade-in">
      <div class="small-12 medium-10 cell">

      {% set image = matrixBlock.image.one() %}
      <div class="image--panorama" {% if image %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"{% endif %}>
        <div class="grid-y height-100 align-center content">
            <div class="shrink cell text-center text-lowercase padding-2" id="video-gallery">
              <a href="{{ matrixBlock.embed }}">
                <h1 class="white"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></h1>
                <div class="white sans-bold text-uppercase tiny">Play Video</div>
              </a>
            </div>
        </div>
      </div>
    
      <div class="margin-top-1 text-center">
      {% if matrixBlock.header %}
      <h4>{{ matrixBlock.header }}</h4>
      {% endif %}
      {% if matrixBlock.subheader %}
      <p>{{ matrixBlock.subheader }}</p>
      {% endif %}
      </div>

      </div>
    </div>
    
{% endswitch %}
{% endfor %}