{% for matrixBlock in entry.layout.all() %}
{% switch matrixBlock.type %}

    {% case "copy" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 {% if matrixBlock.background %}{{ matrixBlock.background.value }}-background-color{% endif %}">
      <div class="small-12 cell">

        <div class="grid-container">
            <div class="grid-x">
              <div class="small-12 cell">
        
                {{ matrixBlock.copy | markdown }}
                {% if matrixBlock.page %}
                  {% for link in matrixBlock.page %}
                    <a href="{{ link.url }}">More</a>
                  {% endfor %}
                {% endif %}
        
              </div>
            </div>
        </div>

      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 {% if matrixBlock.background %}{{ matrixBlock.background.value }}-background-color{% endif %}">
      <div class="small-12 cell">
  
      <div class="grid-container">
        <div class="grid-x align-{{ matrixBlock.position }}">
          <div class="small-12 medium-8 cell text-{{ matrixBlock.position }}">
            {{ matrixBlock.copy | markdown }}
            {% if matrixBlock.page %}
              {% for link in matrixBlock.page.all() %}
                <a href="{{ link.url }}">More +</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    </div>
    {% endif %}   
    
    {% case "image" %}
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
      <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" 
        {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'default' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'square' %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'panorama' %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'landscape' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% else %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% endif %}>
      </div>
       {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% else %}medium-10{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
      <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" 
        {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'default' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'square' %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'panorama' %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"
        {% else %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% endif %}>
      </div>
      {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    {% endif %}
    
    {% case "images" %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-{{(matrixBlock.columns.value / 2) | round(0, 'ceil')}} large-up-{% if matrixBlock.columns %}{{ matrixBlock.columns.value }}{% else %}1{% endif %} align-middle">
      {% for image in matrixBlock.images.all() %}
      {% switch image.aspectRatio %}
      {% case "1-1" or "5-4" or "5-7" or "6-4" or "7-5" or "16-9" or "3-4" %}
      <div class="cell">
        <div class="light-gray-background-color">
          <div class="image--{{image.aspectRatio}}" {% if image %}data-interchange="{% include "_includes/images/contained/"~image.aspectRatio~"/interchange-img-small-12-medium-6" %}" data-aos="fade-in" data-aos-delay="100"{% endif %}></div>
        </div>
        </div>
      {% default %}
      <div class="cell">
        <div class="image--7-5" data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"></div>
      </div>
      {% endswitch %}
      {% endfor %}
    </div>
    
    {% case "video" %}
    <div class="grid-x grid-padding-y align-center" data-aos="fade-in">
      <div class="small-12 medium-10 cell">

      {% set image = matrixBlock.image.one() %}
      <div class="image--panorama" {% if image %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"{% endif %}>
        <div class="grid-y height-100 align-center content">
            <div class="shrink cell text-center text-lowercase padding-2" id="video-gallery">
              <a href="{{ matrixBlock.embed }}">
                <h1 class="white"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></h1>
                <div class="white sans-bold text-uppercase tiny">Play Video</div>
              </a>
            </div>
        </div>
      </div>
    
      <div class="margin-top-1 text-center">
      {% if matrixBlock.header %}
      <h4>{{ matrixBlock.header }}</h4>
      {% endif %}
      {% if matrixBlock.subheader %}
      <p>{{ matrixBlock.subheader }}</p>
      {% endif %}
      </div>

      </div>
    </div>
    
{% endswitch %}
{% endfor %}