{% set bodyClass = 'project' %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries
.section('projects')
.relatedTo(entry.category)
.order('postDate desc') %}

{% set title = entry.title %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}


{% extends "_layouts/site" %}


{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}



<div class="margin-bottom-2 h5 text-center">{{ entry.title }}</div>

<!-- Layout -->
<section class="grid-container">
{% include "_includes/blocks/layout" %}
</section>
<!-- End Layout -->


<!-- Credits -->
<div class="grid-x grid-padding-x align-center">
  <div class="small-12 cell text-center">
  
  {% if entry.client %}
  <div class="margin-bottom-0">B — {{ entry.client }}</div>
  {% endif %}
  
  {% if entry.director %}
  <div class="margin-bottom-0">D — {{ entry.director }}</div>
  {% endif %}
  
  {% if entry.productionCompany %}
  <div class="margin-bottom-0">P — {{ entry.productionCompany }}</div>
  {% endif %}
  
  </div>
</div>
<!-- End Credit -->

<!-- Content -->
<div class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center">
  <div class="small-12 cell text-center">
  {{ entry.copy }}
  </div>
</div>
<!-- End Content -->

<!-- Mobile Pagination -->
{% if nextEntry %}
<div class="grid-x grid-padding-x align-center hide-for-large">
  <div class="shrink cell text-center">
    <a href="{{ nextEntry.url }}"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}
